{{page-title "Password"}}
<div class="antialiased text-gray-900 px-6">
  <div class="max-w-xl mx-auto pt-6 pb-12 md:max-w-4xl">

    <h2 class="text-2xl font-bold">Account Settings</h2>

    <div class="mt-12 max-w-md">

        <form {{on "submit" this.setupPassword}}>

          <div class="mb-4">
            {{#let (unique-id)  as |id|}}
              <Forms::Label for={{id}}>
                Email
              </Forms::Label>

              <Forms::Input
                @type="email"
                @value={{this.session.data.authenticated.user.email}}
                id={{id}}
                disabled
                placeholder="email@domain.com"
              />
            {{/let}}
          </div>

          <div class="mb-4">
            {{#let (unique-id)  as |id|}}
              <Forms::Label for={{id}}>
                New Password
              </Forms::Label>

              <Forms::Input
                @type="password"
                @value={{this.password}}
                id={{id}}
                placeholder="********"
              />
            {{/let}}
          </div>

          <button
            type="submit"
            disabled={{this.isRequesting}}
            class="shadow bg-blue-900 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
          >
            Save password
          </button>

          {{#if this.errorMessage}}
            <div class="flex justify-center">
              <p class="bg-yellow-200 text-yellow-800 py-2 px-4 rounded-2xl text-sm">
                <i>{{this.errorMessage}}</i>
              </p>
            </div>

          {{/if}}

        </form>

    </div>
  </div>
</div>
