{{page-title "Password"}}


<form {{on "submit" this.setupPassword}}>
  <label for="email">
    Email
  </label>

  <Input
    id="email"
    @type="email"
    @value={{this.email}}
  />

  <label for="password">
    password
  </label>

  <Input
    id="password"
    @type="password"
    @value={{this.password}}
  />

  <button type="submit">
    Save Password
  </button>


</form>

{{#if this.errorMessage}}
  <p>
    {{this.errorMessage}}
  </p>
{{/if}}
